<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
</head>
<body>
<form class="layui-form" id="refrom">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline">
            <input type="text" name="username" required lay-verify="required"
                   placeholder="账号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required
                   lay-verify="required" placeholder="请输入密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">提示信息</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline">
                <input type="tel" name="phone" lay-verify="required|phone"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" lay-verify="email"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="1" title="男"> <input
                type="radio" name="sex" value="2" title="女" checked>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-inline">
            <input type="number" name="age" required lay-verify="required"
                   placeholder="请输入年龄" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即注册</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            // 				console.log(data)
            // 				layer.msg(JSON.stringify(data.field));
            var userInfo = data.field;
            $.ajax({
                url: "user/register",
                dataType: "json",
                data: userInfo,
                type: "POST",
                beforeSend: function () {
                    // 禁用按钮防止重复提交
                    data.elem.attr({ disabled: "layui-btn-disabled" });
                    this.layerIndex = layer.load(0, {
                        shade: [0.5, '#393D49']
                    });
                },
                success: function (data) {
                    console.log(data)
                    if (data.status == 100) {
                        layer.msg(data.msg, {
                            icon: 5,
                        });//失败的表情
                        return;
                    } else if (data.status == 200) {
                        layer.msg(data.msg, {
                            icon: 6,//成功的表情
                            time: 1500,
                            //1秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            //location.reload();重新加载页面
                        });
                    }
                },
                complete: function () {// 方法在 AJAX 请求完成时执行函数
                    layer.close(this.layerIndex);//关闭表情
                },
            });
            return false;//阻止表单跳转
        });
    });
</script>
</body>
</html>